<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
  <div class="navbar-nav menu-bar">
    <div ngbDropdown class="nav-link menu-button">
      <i ngbDropdownToggle class="bi bi-list menu-icon"></i>
    </div>
    <span class="menu-title text-white">Uxie Reader</span>
    <div ngbDropdown class="nav-link menu-button">
      <i ngbDropdownToggle class="bi bi-gear-fill menu-icon"></i>
    </div>
  </div>
</nav>

<div *ngIf="bookPaths" class="bg-dark viewer-frame">
  <p class="viewer-paragraph text-white"
    *ngFor="let path of bookPaths" (click)="OnBookClicked(path)">
    {{path}}
  </p>
</div>
