<nav *ngIf="book" class="navbar navbar-expand navbar-dark fixed-top bg-dark" style="max-width: 390px; height: 80px;">
  <div class="navbar-nav container-fluid justify-content-center">
    <div ngbDropdown class="nav-link">
      <i ngbDropdownToggle id="chaptersDropdownButton" class="bi bi-list" style="font-size: 1.5rem;"></i>
      <div ngbDropdownMenu class="dropdown-menu-dark" aria-labelledby="chaptersDropdownButton" style="max-height:600px; overflow-y:auto;">
        <button ngbDropdownItem (click)="OnChangeBookClicked()">Change book</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem
          *ngFor="let chapter of book.chapters"
          (click)="OnChapterClicked(chapter)">{{book.paragraphs[chapter]}}</button>
      </div>
    </div>
    <h2 style="color:white; width:70%; text-align:center">Uxie Reader</h2>
    <div ngbDropdown class="nav-link">
      <i ngbDropdownToggle id="settingsDropdownButton" class="bi bi-gear-fill" style="font-size: 1.5rem;"></i>
      <div ngbDropdownMenu class="dropdown-menu-dark dropdown-menu-end" aria-labelledby="settingsDropdownButton">
        <div ngbDropdownItem>
          Text size
          <i class="bi bi-dash-lg" style="font-size: 1rem; margin-left:12px" (click)="OnTextSizeClicked(-0.1)"></i>
          <i class="bi bi-plus-lg" style="font-size: 1rem; margin-left:12px" (click)="OnTextSizeClicked(0.1)"></i>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-dark fixed-bottom bg-dark" style="max-width: 390px; height: 100px;">
  <div class="navbar-nav container-fluid justify-content-center" style="max-width: 120px">
    <a class="nav-link" *ngIf="audio.paused" (click)="OnPlayClicked()"><i class="bi bi-play-fill" style="font-size: 2rem;"></i></a>
    <a class="nav-link" *ngIf="!audio.paused" (click)="OnPauseClicked()"><i class="bi bi-pause-fill" style="font-size: 2rem;"></i></a>
  </div>
  <div class="navbar-nav container-fluid justify-content-center">
    <a class="nav-link" (click)="OnPreviousClicked()"><i class="bi bi-skip-start-fill" style="font-size: 2rem;"></i></a>
    <input class="form-control bg-secondary text-white" id="jump-input" style="max-width: 120px; border: 0px solid" value="{{counter}}">
    <a class="nav-link" (click)="OnNextClicked()"><i class="bi bi-skip-end-fill" style="font-size: 2rem;"></i></a>
  </div>
</nav>

<audio hidden id="text-audio" controls="" autoplay="" name="media"><source src="" type="audio/mpeg"></audio>
<div *ngIf="book" class="bg-dark" style="padding-top: 80px; padding-left: 24px; padding-right: 24px;">
  <p style="overflow-wrap: break-word; width: 342px; color:white;"
    *ngFor="let index of paragraphDisplayed"
    [ngStyle]="{'font-size.rem': textSize}">
    <mark *ngIf="index === 0">{{book.paragraphs[counter + index]}}</mark>
    <span *ngIf="index !== 0">{{book.paragraphs[counter + index]}}</span>
  </p>
</div>
