<ul class="viewer-paragraph text-white">
  <li *ngFor="let child of GetChildren(object)">
    <div *ngIf="object[child] as childObject">
      <span (click)="OnCollapseClicked(childObject)">{{ child }}</span>
      <app-book-list-item
        *ngIf="!GetCollapse(childObject)"
        [object]="childObject"
        [folder]="folder + '/' + child"
      ></app-book-list-item>
    </div>
  </li>
  <li
    *ngFor="let path of object.files"
    (click)="OnBookClicked(path)"
    style="margin-bottom: 0.4rem"
  >
    {{ path }}
  </li>
</ul>
