<p>Azure Cognitive Services Key</p>
<div class="input-group mb-3">
    <input type="text" class="form-control bg-dark text-white" id="cognitive-service-key-input" value="{{azureKey}}">
</div>

<p>Azure OpenAI Key</p>
<div class="input-group mb-3">
    <input type="text" class="form-control bg-dark text-white" id="openai-key-input" value="{{azureOpenAIKey}}">
</div>

<div class="input-group mb-3">
    <button class="btn btn-outline-primary" type="button" (click)="OnEnterClicked()">
        Save
    </button>
</div>
