/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

.dropdown-toggle::after {
  content: none;
}

.menu-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-title {
  font-size: 1.5rem;
  align-self: center;
}

.menu-button {
  margin-left: 12px;
  margin-right: 12px;
}

.menu-dropdown {
  overflow-y: auto;
  max-height: 80vh;
  max-width: 90vw;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  font-size: 1.5rem;
}

.viewer-frame {
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
}

.epub-viewer-frame {
  /* 100vh - nav height - footer height */
  height: 82vh;
}

.book-list-frame {
  /* 100vh - nav height */
  height: 92vh;
  padding: 4vh;
  font-size: 1.2rem;
  overflow-y: auto;
}

.viewer-paragraph {
  overflow-wrap: break-word;
}

.setting-icon {
  font-size: 1rem;
  margin-left: 12px;
  margin-right: 12px;
}

.navbar {
  height: 8vh;
}

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.footer-icon {
  font-size: 2rem;
  margin-left: 12px;
  margin-right: 12px;
}

.footer-input {
  max-width: 120px;
  max-height: 36px;
  border: 0px solid;
  align-self: center;
}

.footer-control {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.hint-text {
  position: absolute;
  right: 0.75em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* so clicks focus the input, not the hint */
  opacity: 0.5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.viewer-row {
  display: flex;
}

.viewer-row app-epub-view {
  flex: 1 1 50%; /* grow/shrink to half of the row */
  max-width: 50%; /* never exceed half width */
  box-sizing: border-box;
}

.bg-dark {
  background-color: #121212 !important;
}
