/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

.dropdown-toggle::after {
  content: none;
}

.menu-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-title {
  font-size: 1.5rem;
  align-self: center;
}

.menu-button {
  margin-left: 12px;
  margin-right: 12px;
}

.menu-dropdown {
  overflow-y: auto;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  font-size: 1.5rem;
}

.viewer-frame {
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
}

.epub-viewer-frame {
  height: 88vh;
  padding-bottom: 10vh;
}

.book-list-frame {
  height: 88vh;
  padding: 4vh;
  font-size: 1.2rem;
  overflow-y: auto;
}

.viewer-paragraph {
  overflow-wrap: break-word;
}

.setting-icon {
  font-size: 1rem;
  margin-left: 12px;
  margin-right: 12px;
}

.navbar {
  padding-top: env(safe-area-inset-top);
  height: 12vh;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: env(safe-area-inset-bottom);
}

.footer-icon {
  font-size: 2rem;
  margin-left: 12px;
  margin-right: 12px;
}

.footer-input {
  max-width: 120px;
  max-height: 36px;
  border: 0px solid;
  align-self: center;
}

.footer-control {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
